.root {
    font-size: 16px;
    padding: 56px 0;
}

.container {
    width: 1160px;
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 22px;
    text-align: center;
    color: rgb(89, 89, 89);
    line-height: 1.4;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.blockContainer {
    display: flex;
    justify-content: space-between;
}

.block {
    padding: 0 24px 40px;
    flex-basis: 50%;
    max-width: 50%;
}

.blockTitle {
    color: rgb(27, 27, 27);
    margin-bottom: 24px;
    font-weight: 700;
    text-align: center;
}

.blockImage {
    margin-bottom: 24px;
}
.blockContent {
    margin-bottom: 24px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.contactButton {
    border: 1px solid rgb(27, 27, 27);
    font-size: 14px;
    padding: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.contactButton:hover {
    background-color: rgb(216, 204, 200);
}
