.root {
    font-size: 16px;
    padding: 56px 0;
}

.container {
    width: 1160px;
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
}
.banner {
    margin-bottom: 32px;
}

.title {
    font-size: 22px;
    text-align: center;
    color: rgb(89, 89, 89);
    line-height: 1.4;
    margin-bottom: 40px;
}

.contentLeft {
    padding: 0 10px;
    flex-basis: 66.66666666666666%;
    max-width: 66.66666666666666%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subTitle {
    color: rgb(27, 27, 27);
    margin-bottom: 24px;
    font-weight: 700;
    text-align: center;
}

.contentText {
}

.contentRight {
    padding: 0 10px;
    flex-basis: 33.3333333333333%;
    max-width: 33.3333333333333%;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.contactButton {
    border: 1px solid rgb(27, 27, 27);
    font-size: 14px;
    padding: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.contactButton:hover {
    background-color: rgb(216, 204, 200);
}
