.root {
    font-size: 16px;
    padding: 56px 0;
    margin-top: 50px;
}

.container {
    width: 1160px;
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
}
.banner {
    margin-bottom: 32px;
}

.title {
    font-size: 22px;
    text-align: center;
    color: rgb(89, 89, 89);
    line-height: 1.4;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 959px) {
    .content {
        flex-direction: column;
    }
}
.contentLeft {
    padding: 0 10px;
    flex-basis: 66.66666666666666%;
    max-width: 66.66666666666666%;
}

@media (max-width: 959px) {
    .contentLeft {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.subTitle {
    color: rgb(27, 27, 27);
    margin-bottom: 24px;
    font-weight: 700;
    text-align: center;
}

.contentText {
}

.contentRight {
    padding: 0 10px;
    flex-basis: 33.3333333333333%;
    max-width: 33.3333333333333%;
}

@media (max-width: 959px) {
    .contentRight {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.contactButton {
    border: 1px solid rgb(216, 204, 200);
    font-size: 14px;
    color: rgb(89, 89, 89);
    padding: 16px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-family: Quicksand, sans-serif;
}

.contactButton::before {
    border-top: 1px solid;
    width: 18px;
    height: 0.1px;
    content: '';
    display: inline-block;
    margin-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.contactButton::after {
    border-top: 1px solid;
    width: 18px;
    height: 0.1px;
    content: '';
    display: inline-block;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.contactButton:hover {
    background-color: rgb(216, 204, 200);
    color: rgb(22, 22, 22);
}
